<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Data to Spredsheet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="reference-id" class="col-form-label">Reference ID:</label>
            <input type="text" class="form-control" id="reference-id">
          </div>
          <div class="form-group">
            <label for="company" class="col-form-label">Company:</label>
            <input type="text" class="form-control" id="company">
          </div>
          <div class="form-group">
            <label for="due-date" class="col-form-label">Due Date:</label>
            <input type="text" class="form-control" id="due-date">
          </div>
          <div class="form-group">
            <label for="rate" class="col-form-label">Rate:</label>
            <input type="text" class="form-control" id="rate">
          </div>
          <div class="form-group">
            <label for="total-return" class="col-form-label">Total Return:</label>
            <input type="text" class="form-control" id="total-return">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><i class="now-ui-icons ui-1_simple-add"></i> Add</button>
      </div>
    </div>
  </div>
</div>