<!--   Core JS Files   -->
<script src="/javascripts/core/jquery.min.js"></script>
<script src="/javascripts/core/popper.min.js"></script>
<script src="/javascripts/core/bootstrap.min.js"></script>
<script src="/javascripts/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/javascripts/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/javascripts/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/javascripts/plugins/now-ui-dashboard.min.js?v=1.1.0" type="text/javascript"></script>

<script src="/javascripts/demo.js"></script>

<script>
  $(document).ready(function() {
    var invest = <%- JSON.stringify(investments) %>;
    console.log(invest);
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts(invest);

  });

  
</script>