<% include partials/head.ejs %>

<body class="">
  <div class="wrapper ">
    <% include partials/sidebar.ejs %>
    <div class="main-panel">
      <% include partials/navbar.ejs %>
      
      <div class="panel-header panel-header-lg">
        <canvas id="bigDashboardChart"></canvas>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Total Income in 2018</h5>
                <h4 class="card-title">Total Income (IDR)</h4>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <center><h5 style="padding-top:50px; color:green;"><%= investments.total_income %></h5></center>
                  <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Average Income</h5>
                <h4 class="card-title">Avg per Invest (IDR)</h4>
                <div class="dropdown">
                  <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <center><h5 style="padding-top:50px; color:green;"><%= investments.avg_per_invest %></h5></center>
                  <!-- <canvas id="lineChartExample"></canvas> -->
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Monthly Average</h5>
                <h4 class="card-title">Average Income (IDR)</h4>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <center><h5 style="padding-top:50px; color:green;"><%= investments.avg_per_month %></h5></center>
                  <!-- <canvas id="barChartSimpleGradientsNumbers"></canvas> -->
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons ui-2_time-alarm"></i> During 2018
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category"><%= investments.list_data.length %> Invest Funded</h5>
                <h4 class="card-title"> Investments Info</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Reference ID
                      </th>
                      <th>
                        Company
                      </th>
                      <th>
                        Due Date
                      </th>
                      <th>
                        Rate
                      </th>
                      <th class="text-right">
                        Total Return
                      </th>
                    </thead>
                    <tbody>
                      <% for (let i = 0; i < investments.list_data.length; i++) { %>
                        <tr>
                          <td>
                            <%= investments.list_data[i].ref_id %>
                          </td>
                          <td>
                            <%= investments.list_data[i].type %>
                          </td>
                          <td>
                            <%= investments.list_data[i].due_date %>
                          </td>
                          <td>
                            <%= investments.list_data[i].rate %>
                          </td>
                          <td class="text-right">
                            Rp. <%= investments.list_data[i].return %>
                          </td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <% include partials/footer.ejs %>
    </div>
  </div>

  <% include partials/modals.ejs %>
  <% include partials/scripts.ejs %>
</body>

